<?php
/**
 * @var Zend_View $this
 * @var array $actionUrls
 */
$actionUrls = $this->actionUrls;

/** @var array $ids */
$ids = $this->id;
foreach ($ids as &$id) {
    $id = '{{' . $id . '}}';
}
$ids = implode('_', $ids);
?>

<div class="js-grid-column_action">

    <a href="<?php echo $actionUrls['view'] . '/id/' . $ids; ?>" class="js-view">
        <img src="/vbd/public/images/icons/view.gif">
    </a>
    <a href="<?php echo $actionUrls['edit'] . '/id/' . $ids; ?>" class="js-edit">
        <img src="/vbd/public/images/icons/edit.png">
    </a>
    <a href="<?php echo $actionUrls['delete'] . '/delete-id/' . $ids; ?>" class="js-delete">
        <img src="/vbd/public/images/grid_delete.png">
    </a>

</div>