<?php
$this->headLink()->appendStylesheet('/vbd/public/css/lease/main.css?v=20160124');
?>

<div class="lease-container">
    <div class="disabled"></div>

    <div class="lease-form form-add item-form">

        <div class="flash-messages"></div>
        <h2>
            <?php echo ucfirst($this->translate('lease_' . $this->title)); ?> &mdash;
            <?php echo ucfirst($this->translate('add')); ?>
        </h2>

        <hr/>

        <div class="spinner"></div>
        <?php echo (string) $this->form; ?>

        <hr/>
    </div>
</div>
