<?php
$this->headLink()->appendStylesheet('/vbd/public/css/lease/main.css?v=20160124');
?>

<div class="lease-container">
    <div class="spinner"></div>
    <div class="disabled"></div>

    <div class="confirmation-dialog"
         data-title="<?php echo $this->translate('title');?>"
         data-message="<?php echo $this->translate('message');?>"
         data-button-yes="<?php echo $this->translate('yes');?>"
         data-button-no="<?php echo $this->translate('no');?>"
    ></div>

    <div class="lease-form form-edit item-form">

        <div class="flash-messages"></div>

        <h2>
            <?php echo ucfirst($this->translate('lease_' . $this->title)); ?> &mdash;
            <?php echo ucfirst($this->translate('edit')); ?>
        </h2>

        <hr/>

        <?php echo (string) $this->form; ?>

        <hr/>
    </div>
</div>
