<?php
$this->headLink()->appendStylesheet('/vbd/public/css/lease/main.css?20160123');
?>

<h2>
    <?php echo ucfirst($this->translate('lease_' . $this->title)); ?> -
    <?php echo ucfirst($this->translate('list')); ?>
</h2>

<hr/>

<div class="lease-container">
    <div class="disabled"></div>

    <div class="confirmation-dialog"
         data-title="<?php echo $this->translate('confirm');?>"
         data-message="<?php echo $this->translate('delete_confirmation');?>"
         data-button-yes="<?php echo $this->translate('yes');?>"
         data-button-no="<?php echo $this->translate('cancel');?>"
    ></div>

    <div class="flash-messages"></div>

    <div class="spinner"></div>

    <div class="add-entity-block">
        <a href="<?php echo $this->actionUrls['add']; ?>">
            <img src="/vbd/public/images/add.png"/>
            <?php echo ucfirst($this->translate('add_new_item')); ?>
        </a>
    </div>

    <table>
        <tbody>
        <tr>
            <td>
                <div class="lease-grid">
                    <?php echo (string) $this->grid; ?>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
