<?php
$this->headLink()->appendStylesheet('/vbd/public/css/lease/main.css?v=20160124');
?>

<div class="lease-container">
    <div class="disabled"></div>

    <div class="lease-form form-view item-details">

        <div class="flash-messages"></div>
        <h2>
            <?php echo ucfirst($this->translate('lease_' . $this->title)); ?> &mdash;
            <?php echo ucfirst($this->translate('view')); ?>
        </h2>

        <div class="view-header">
            <?php echo ucfirst($this->translate('general_information')); ?>
        </div>

        <div class="spinner"></div>
        <?php echo (string) $this->form; ?>
        <hr/>
    </div>
</div>
